@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-BlackItalic.ttf") format("TrueType");
}

html {
  --lumo-font-size: 40px;
}

body {
  background: lightblue;
  --lumo-font-family: "Roboto";
}
